<!-- Section Documentation -->
<section class="container-fluid" id="doc">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 lang" key="SIGHTING-GUIDE">Guida All'Avvistamento</h1>
    </div>

    <span class="lang" key="DESC-GUIDE">Che tu sia uno scienziato, un subacqueo o uno snorkelista, ogni contributo è per noi importante!</span>
    <br>
    <span class="lang" key="DESC-GUIDE2">Per far sì che il tuo avvistamento sia valido, consulta questa breve guida su come fotografare le tartarughe per aiutarci a riconoscerle.</span>
    <br>
    <br>
    <span class="lang" key="DESC-GUIDE3">Ricorda che</span>
    <span class="font-weight-bold lang" key="DESC-GUIDE4">ogni esemplare</span> 
    <span class="lang" key="DESC-GUIDE5">di tartaruga, per essere inserito nel database, deve necessariamente avere:</span>
    <br>
    <span>- </span><span class="font-weight-bold lang" key="DESC-GUIDE6">3 fotografie </span><span class="lang" key="DESC-GUIDE7">(testa lato dx, testa lato sx, vista dall'alto dell'intera tartaruga)</span>
    <br>
    <span>- </span><span class="font-weight-bold lang" key="DESC-GUIDE8">data e luogo </span><span class="lang" key="DESC-GUIDE9">dell'avvistamento</span>
    <br>
    <br>
    <span class="lang" key="DESC-GUIDE10">Altre informazioni aggiuntive (sesso dell'animale, segni particolari come cicatrici, malformazioni, mutilazioni,...) sono sempre gradite, ma non sono fondamentali per registrare un nuovo avvistamento.</span>
    <br>
    <br>
  

    
    <span class="lang" key="DESC-GUIDE11">Questo breve video ti spiegherà come inserire il tuo avvistamento nel migliore dei modi. </span>
    <br>
    <br>

    <!--Video Descrizione-->
    <div class="row">
        <div class="col-md-12">
            <video class="video-fluid z-depth-1 w-100" autoplay loop controls muted>
                <source src="/avvistatore/video" type="video/mp4" />
            </video>
        </div>
    </div>


</section>