<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        
        <title>Madagascar Turtle Project</title>
        
        <link rel="stylesheet" href="/stylesheets/base.css" />
        <link rel="stylesheet" href="/stylesheets/vendor.css" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        <link rel="icon" href="favicon.ico" type="image/x-icon" />

    </head>
    <body id="top">
        <header class="s-header">
            <div class="header-logo">
                <a class="site-logo" href="/"> <img src="/images/turtle-logo.png" alt="Homepage" /> </a>
            </div>
            <nav class="header-nav">
                <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
                <div class="header-nav__content">
                    <h3 >Navigation</h3>
                    <ul class="header-nav__list">
                        <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
                        <li><a class="smoothscroll lang" key="ABOUT" href="#about">About</a></li>
                        <li><a class="smoothscroll lang" href="#services"  key="SERVICES">Goal</a></li>
                        <li><a class="smoothscroll lang" href="#contact"  key="CONTACT">Contact</a></li>
                    </ul>

                    <span><img class="img-flag translate" id="it" src="/images/flags/it.png" /></span> <br>
                    <span><img class="img-flag translate" id="en" src="/images/flags/en.png" /></span>

                    <ul class="header-nav__list">
                        <li><a class="lang" key="LOGIN" href="/login">Login</a></li>
                        <li><a class="lang" key="SIGNUP" href="/signup">Signup</a></li>
                    </ul>
                    
                </div>
            </nav>
            <a class="header-menu-toggle" href="#0"> 
                <span class="header-menu-lang-it"><img class="img-flag translate" id="it" src="images/flags/it.png" /></span>
                <span class="header-menu-lang-en"><img class="img-flag translate" id="en" src="images/flags/en.png" /></span>
                <span class="header-menu-text">Menu</span> 
                <span class="header-menu-icon"></span> 
            </a>
        </header>
        <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width="3000" data-natural-height="2000" data-position-y="center">
            <div class="overlay"></div>
            <div class="shadow-overlay"></div>
            <div class="home-content">
                <div class="row home-content__main">
                    <h4 class="text-center home-content-title">Madagascar Turtle Project</h4>
                    <h1 class="lang text-center" key="MAIN-DESC">
                        We are a creative group <br />
                        of people who design <br />
                        influential brands and <br />
                        digital experiences.
                    </h1>
                    <h3 class="text-center">Robert Swan</h3>
                </div>
                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll"> <span class="lang" key="SCROLL">Scroll Down</span> </a>
                </div>
                <div class="home-content__line"></div>
            </div>
            <ul class="home-social">
                <li>
                    <a href="https://web.facebook.com/madagascar.turtle.project"><i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/madagascar.turtle.project/"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
                </li>
            </ul>
        </section>
        <section id="about" class="s-about">
            <div class="about__line"></div>
            
            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                <div class="col-full">
                    <h1 class="display-1 display-1--light lang" key="WHERE-WE-ARE">Where We Are</h1>
                </div>
            </div>
            <div class="row about-desc" data-aos="fade-up">
                <div class="col-full">
                    <p class="lang" key="DESC-ABOUT">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
                    </p>
                </div>
            </div>
        </section>
        

        <section class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11265.022529193177!2d48.14778342658095!3d-13.316253144585325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2213b5d2580994f5%3A0xc07889ffd266f101!2sAmbohibe!5e1!3m2!1sit!2sit!4v1619605763773!5m2!1sit!2sit" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </section>

        <section id="services" class="s-services">
            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                <div class="col-full">
                    <h1 class="display-2 lang" key="WHAT-WE-DO" >We’ve got everything you need to launch and grow your business</h1>
                </div>
            </div>
            <div class="row about-desc" data-aos="fade-up">
                <div class="col-full">
                    <p class="lang" key="DESC-GOAL">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
                    </p>
                </div>
            </div>
            <div class="row services-list block-1-2 block-tab-full">
                <div class="col-block service-item" data-aos="fade-up">
                    <div class="service-icon"><i class="fa fa-book" aria-hidden="true"></i></div>
                    <div class="service-text">
                        <h3 class="h2 lang" key="DO-TITLE-1">Brand Identity</h3>
                        <p class="lang" key="DO-1">
                            Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis. Sunt suscipit voluptas ipsa in
                            tempora esse soluta sint.
                        </p>
                    </div>
                </div>
                <div class="col-block service-item" data-aos="fade-up">
                    <div class="service-icon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></div>
                    <div class="service-text">
                        <h3 class="h2 lang" key="DO-TITLE-2">Illustration</h3>
                        <p class="lang" key="DO-2">
                            Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis. Sunt suscipit voluptas ipsa in
                            tempora esse soluta sint.
                        </p>
                    </div>
                </div>
                <div class="col-block service-item" data-aos="fade-up">
                    <div class="service-icon"><i class="fa fa-database" aria-hidden="true"></i></div>
                    <div class="service-text">
                        <h3 class="h2 lang" key="DO-TITLE-3">Illustration</h3>
                        <p class="lang" key="DO-3">
                            Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis. Sunt suscipit voluptas ipsa in
                            tempora esse soluta sint.
                        </p>
                    </div>
                </div>
                <div class="col-block service-item" data-aos="fade-up">
                    <div class="service-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
                    <div class="service-text">
                        <h3 class="h2 lang" key="DO-TITLE-4">Illustration</h3>
                        <p class="lang" key="DO-4">
                            Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis. Sunt suscipit voluptas ipsa in
                            tempora esse soluta sint.
                        </p>
                    </div>
                </div>
                <div class="col-block service-item" data-aos="fade-up">
                    <div class="service-icon"><i class="fa fa-thermometer-half" aria-hidden="true"></i></div>
                    <div class="service-text">
                        <h3 class="h2 lang" key="DO-TITLE-5">Illustration</h3>
                        <p class="lang" key="DO-5">
                            Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis. Sunt suscipit voluptas ipsa in
                            tempora esse soluta sint.
                        </p>
                    </div>
                </div>
                <div class="col-block service-item" data-aos="fade-up">
                    <div class="service-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="service-text">
                        <h3 class="h2 lang" key="DO-TITLE-6">Illustration</h3>
                        <p class="lang" key="DO-6">
                            Nemo cupiditate ab quibusdam quaerat impedit magni. Earum suscipit ipsum laudantium. Quo delectus est. Maiores voluptas ab sit natus veritatis ut. Debitis nulla cumque veritatis. Sunt suscipit voluptas ipsa in
                            tempora esse soluta sint.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="s-contact">
            <div class="overlay"></div>
            <div class="contact__line"></div>
            <div class="row section-header" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead lang" key="CONTACT">Contact Us</h3>
                    <h1 class="display-2 display-2--light lang" key="CONTACT-2">Reach out for a new project or just say hello</h1>
                </div>
            </div>
            <div class="row contact-content" data-aos="fade-up">
                <div class="contact-primary">
                    <h3 class="h6 lang" key="SEND-MESSAGE">Send Us A Message</h3>
                    <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
                        <fieldset>
                            <div class="form-field"><input name="contactName" type="text" id="contactName" placeholder="Your Name" value="" minlength="2" required="" aria-required="true" class="full-width" /></div>
                            <div class="form-field"><input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value="" required="" aria-required="true" class="full-width" /></div>
                            <div class="form-field"><input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width" /></div>
                            <div class="form-field"><textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea></div>
                            <div class="form-field">
                                <button class="full-width btn--primary lang" key="SUBMIT">Submit</button>
                                <div class="submit-loader">
                                    <div class="text-loader">Sending...</div>
                                    <div class="s-loader">
                                        <div class="bounce1"></div>
                                        <div class="bounce2"></div>
                                        <div class="bounce3"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="message-warning">Something went wrong. Please try again.</div>
                    <div class="message-success">Your message was sent, thank you!<br /></div>
                </div>
                <div class="contact-secondary">
                    <div class="contact-info">
                        <h3 class="h6 hide-on-fullwidth lang" key="CONTACT-INFO">Contact Info</h3>
                        <div class="cinfo">
                            <h5 class="lang" key="FIND-US">Where to Find Us</h5>
                            <p>
                                Nosy Sakatia,  <br />
                                BP207 Nosy Be,<br />
                                Madagascar
                            </p>
                        </div>
                        <div class="cinfo">
                            <h5>Email</h5>
                            <p>
                                <a href="" class="__cf_email__ email" >madagascarturtleproject@gmail.com </a>
                            </p>
                        </div>
                        <div class="cinfo">
                            <h5 class="lang" key="PHONE">Phone</h5>
                            <p>
                                Mobile: (+261) 320 377 099<br />
                            </p>
                        </div>
                        <ul class="contact-social">
                            <li>
                                <a href="https://web.facebook.com/madagascar.turtle.project"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/madagascar.turtle.project/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>  
        </section>

        <footer>

            <div class="footer-logo">
                <a class="site-logo" href="/"> <img class="img-footer" src="images/turtle-logo.png"/> </a>
            </div>

            <div class="row footer-bottom">
                <div class="col-twelve">
                    <div class="copyright">
                        <span>© Copyright Madagascar Turtle Project</span> <span>Designed by Matteo Schirinzi</a></span>
                    </div>
                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </footer>

        <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
            <div class="pswp__bg"></div>
            <div class="pswp__scroll-wrap">
                <div class="pswp__container">
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                    <div class="pswp__item"></div>
                </div>
                <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">
                        <div class="pswp__counter"></div>
                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button>
                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                                <div class="pswp__preloader__cut"><div class="pswp__preloader__donut"></div></div>
                            </div>
                        </div>
                    </div>
                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"><div class="pswp__share-tooltip"></div></div>
                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                    <div class="pswp__caption"><div class="pswp__caption__center"></div></div>
                </div>
            </div>
        </div>
        <div id="preloader">
            <div id="loader">
                <div class="line-scale-pulse-out">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.0/pace.min.js" integrity="sha512-ODCOsga6UmzubuwYSEhoHybHHmDMhrw/ZJEc5Tk53xqSQ1UZedP5xVx0ecSWK9eDSg9Zr69ROlhTKJKd/kOkSQ==" crossorigin="anonymous"></script>
        <!-- PLUGIN PER JQUERY -->
        <script src="/javascripts/plugins.js"></script>
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/translate.js"></script>
    </body>
</html>
