<!-- Section Documentation -->
<section class="container-fluid" id="search">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800 lang" key="SEARCH">Cerca</h1>
    </div>

    <!-- Form Inserimento Nome Tartaruga -->
    <form id="form-search">
        <label class="lang" key="FORM-SEARCH">Inserisci il nome della tartaruga da ricercare</label><br>
        <input type="text" id="nomeTart">
        <button type="submit" value="submit" class="btn btn-primary btn-sm lang" key="SUBMIT">Invia</button>
    </form>

    <br><br>

    <!-- Box per inserimento dati tartaruga -->
    <div class="container-fluid box-tart" id="box-searchTart">
        <br>
        <div id="box-searchimg" class="d-flex flex-column">
        </div>
        <br>
        <div class="d-flex flex-column">
            <div class="p-2">
                <span class="header-name">ID:</span>
                <span id="box-searchid">1</span>
            </div>
            <div class="p-2">
                <span class="header-name lang" key="TAB-CODE">Codice:</span>
                <span id="box-searchcode">COD1CM</span>
            </div>
            <div class="p-2">
                <span class="header-name lang" key="GENDER2">Sesso:</span>
                <span id="box-searchsex">Maschio</span>
            </div>
            <div class="p-2">
                <span class="header-name lang" key="SPECIES5">Specie: </span>
                <span id="box-searchspecie">Tartaruga imbricata - Eretmochelys imbricata</span>
            </div>
            <div class="p-2">
                <span class="header-name lang" key="SIGNS2">Segni particolari:</span>
                <span id="box-searchdesc">eventuale descrizione di segni particolari come cicatrici, malformazioni, mutilazioni,…</span>
            </div>
        </div>
    </div>
    




</section>